<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'common/nav', locals: {show_tab: :show, model_nav_name: :admin_classification, pjax: true, model:Classification} %>
    <div class="form-horizontal form-show" id="admin_classification">
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3"><%= t 'activerecord.attributes.classification.name' %></label>
            <div class="col-xs-12 col-sm-9">
              <div class="clearfix">
                    <input type="text" readonly="readonly" class="col-xs-12 col-sm-6" value="<%= @classification.name %>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3"><%= t 'activerecord.attributes.classification.parent' %></label>
            <div class="col-xs-12 col-sm-9">
              <div class="clearfix">
                    <input type="text" readonly="readonly" class="col-xs-12 col-sm-6" value="<%= @classification.parent.name if @classification.parent.present? %>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3"><%= t 'activerecord.attributes.classification.position' %></label>
            <div class="col-xs-12 col-sm-9">
              <div class="clearfix">
                    <input type="text" readonly="readonly" class="col-xs-12 col-sm-6" value="<%= @classification.position %>">
              </div>
            </div>
          </div>
      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3"><%= t 'activerecord.attributes.classification.single_statistics' %></label>
        <div class="col-xs-12 col-sm-9">
          <div class="clearfix">
            <input type="text" readonly="readonly" class="col-xs-12 col-sm-6" value="<%= @classification.single_statistics== true ? '是' : '否' %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(function () {
        $('.nav.nav-list li.active').removeClass('active');
        $('.nav.nav-list li[data-model="classification_list"]').addClass('active');
    } );
</script>