<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'common/nav', locals: {show_tab: :show, model_nav_name: :admin_shop_commodity, pjax: true, model: ShopCommodity} %>
    <div class="form-horizontal form-show" id="admin_shop_commodity">
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3"><%= t 'activerecord.attributes.shop_commodity.shop_id' %></label>
            <div class="col-xs-12 col-sm-9">
              <div class="clearfix">
                    <input type="text" readonly="readonly" class="col-xs-12 col-sm-6" value="<%= @shop_commodity.shop.name if @shop_commodity.shop.present? %>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3"><%= t 'activerecord.attributes.shop_commodity.commodity_id' %></label>
            <div class="col-xs-12 col-sm-9">
              <div class="clearfix">
                    <input type="text" readonly="readonly" class="col-xs-12 col-sm-6" value="<%= @shop_commodity.commodity.name if @shop_commodity.commodity.present? %>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3"><%= t 'activerecord.attributes.shop_commodity.price' %></label>
            <div class="col-xs-12 col-sm-9">
              <div class="clearfix">
                    <input type="text" readonly="readonly" class="col-xs-12 col-sm-6" value="<%= @shop_commodity.price %>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3"><%= t 'activerecord.attributes.shop_commodity.position' %></label>
            <div class="col-xs-12 col-sm-9">
              <div class="clearfix">
                    <input type="text" readonly="readonly" class="col-xs-12 col-sm-6" value="<%= @shop_commodity.position %>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3"><%= t 'activerecord.attributes.shop_commodity.enable' %></label>
            <div class="col-xs-12 col-sm-9">
              <div class="clearfix">
                    <input type="text" readonly="readonly" class="col-xs-12 col-sm-6" value="<%= @shop_commodity.enable==true ? '启用' :'不启用' %>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3"><%= t 'activerecord.attributes.shop_commodity.sales_volume' %></label>
            <div class="col-xs-12 col-sm-9">
              <div class="clearfix">
                    <input type="text" readonly="readonly" class="col-xs-12 col-sm-6" value="<%= @shop_commodity.sales_volume %>">
              </div>
            </div>
          </div>
      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3"><%= t 'activerecord.attributes.shop_commodity.left_count' %></label>
        <div class="col-xs-12 col-sm-9">
          <div class="clearfix">
            <input type="text" readonly="readonly" class="col-xs-12 col-sm-6" value="<%= @shop_commodity.left_count %>">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3"><%= t 'activerecord.attributes.shop_commodity.is_has_long' %></label>
        <div class="col-xs-12 col-sm-9">
          <div class="clearfix">
            <input type="text" readonly="readonly" class="col-xs-12 col-sm-6" value="<%= @shop_commodity.is_has_long==true ? '是' : '否' %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(function () {
        $('.nav.nav-list li.active').removeClass('active');
        $('.nav.nav-list li[data-model="shop_commodity_list"]').addClass('active');
    } );
</script>